* {
    margin: 5px;
}

.dataTables_filter {
    text-align: left !important;
}

.pagination{
    display: inline-flex !important;
}
div.dataTables_wrapper div.dataTables_paginate{
    text-align: center !important;
}