<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test</title>
        <style>
            table {
                border: 1px solid black;
                border-collapse: collapse;
                width: 100%
            }
        
            td, th {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }
        </style>
        
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>