/*!* Add a white background color to the top navigation *!*/
/*.topnav {*/
/*    background-color: white;*/
/*    overflow: hidden;*/
/*    position: fixed;*/
/*    top: 10%;*/
/*    left: 20%;*/

/*}*/
/*!* Style the links inside the navigation bar *!*/
/*.topnav a {*/
/*    float: left;*/
/*    color: black;*/
/*    text-align: center;*/
/*    padding: 14px 50px;*/
/*    text-decoration: none;*/
/*    font-size: 17px;*/

/*}*/

/*!* Add a color to the active/current link *!*/
/*.topnav a.active {*/
/*    background-color: #06fda3;*/
/*    color: black;*/
/*}*/

/*!* Change the color of links on hover *!*/
/*.topnav a:hover {*/
/*    background-color: rgb(165, 163, 163);*/
/*    color: rgb(255, 255, 255);*/
/*    border: 3px rgb(165, 163, 163);*/
/*}*/


/*.two-col {*/
/*    overflow: hidden;!* Makes this div contain its floats *!*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/


/*.two-col .col1,*/
/*.two-col .col2 {*/
/*    display: inline-flex;*/
/*    width: 43%;*/
/*    justify-content: center;*/
/*}*/

* {
    margin: 5px;
}


.logo {
    width: 46px;
    height: 46px;
    border-radius: 10%;
    overflow: visible;
    margin-top: 0px;
}

@media only screen and (max-width: 768px)  {
    .navbar-brand {
        display:none;
    }
}
 

.dataTables_filter {
    text-align: left !important;
}

.pagination{
    display: inline-flex !important;
}
div.dataTables_wrapper div.dataTables_paginate{
    text-align: center !important;
}

.buttonBg {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.buttonParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorlist {
    color: red !important;
}

