{% extends "log/base_generic.html" %}

{% block content %}
<table id="table_id" class="table table-striped table-bordered" style="width: 100%">
    <thead>
    <tr>
        <th>Date Added/Updated</th>
        <th>Text</th>
        <th>Translation</th>
        <th>Language</th>
        <th>Frequency</th>
        <th>Remarks</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td>{{ item.date_added }}</td>
        <td>{{ item.input_text }}</td>
        <td>{{ item.output_text }}</td>
        <td>{{ item.language}}</td>
        <td>{{ item.frequency}}</td>
        <td>{{ item.remarks }}</td>
        <td> <a class="btn btn-default" href="{% url 'post_remove' pk=item.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}

{% block js %}

<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
                dom: "lBfrtip",
                aaSorting: [[0, 'desc']],
                buttons: ['copy', 'excel', 'pdf'],
                language: {
                    searchPlaceholder: "Search records" // Might want to think of something else
                },
                columnDefs: [
                    { "orderable": false, "targets": 6 }
                ],
            }
        );
    });

</script>
{% endblock %}