{% extends "log/base_generic.html" %}

{% block content %}
<table id="table_id" class="table table-striped table-bordered" style="width: 100%">
    <thead>
    <tr>
        <th>Date Added/Updated</th>
        <th>Text</th>
        <th>Translation</th>
        <th>Language</th>
        <th>Frequency</th>
        <th>Remarks</th>
        <th>Delete</th>
        <th class="edit-actions">Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td>{{ item.date_added }}</td>
        <td>{{ item.input_text }}</td>
        <td>{{ item.output_text }}</td>
        <td>{{ item.language}}</td>
        <td>{{ item.frequency}}</td>
        <td>{{ item.remarks }}</td>
        <td> <a class="btn btn-default" href="{% url 'post_remove' pk=item.pk %}"><span
                    class="glyphicon glyphicon-trash"></span></a></td>
        <td class="edit-actions"> <button data-toggle="modal" data-target="#model{{item.pk}}" type="button"
                class="btn btn-success edit-movie-quote"><span class="glyphicon glyphicon-pencil"></span></button></td>
        <!-- Modal -->
        <div class="modal fade" id="model{{item.pk}}" tabindex="-1" role="dialog" aria-labelledby="Edit Remarks">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Remark</h4>
                    </div>
                    <form action="{% url 'post_edit' pk=item.pk %}" method="POST" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="quote-input" class="col-sm-2 control-label">Remark:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="quote-input" placeholder="Remark"
                                        name="remark">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </tr>
    {% endfor %}
    </tbody>

</table>




{% endblock %}

{% block js %}

<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            dom: "lBfrtip",
            aaSorting: [[0, 'desc']],
            buttons: ['copy', 'excel', 'pdf'],
            language: {
                searchPlaceholder: "Search records" // Might want to think of something else
            },
            columnDefs: [
                { "orderable": false, "targets": 6 },
                { "orderable": false, "targets": 7 }
            ],
        }
        );
    });

</script>
{% endblock %}